@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); */
/* global config */
*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
}
main{
    --highlight: #4cd137;
    /* --highlight: #5fe413; */
    --text-red: #ff0000;
    --text-white: #fff;
    --text-black: #000;
}
a{
    display: inline-block;
}
img{
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
.headline{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #666;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.headline::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    background: var(--highlight);
}
.headline::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 3px;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    background: var(--highlight);
}
.headline-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin: 0px 0 40px;
}
.primary-btn{
    font-weight: 500;
    color: var(--text-black);
    display: inline-block;
    user-select: none;
    cursor: pointer;
    padding: 15px 25px;
    border: 2px solid var(--highlight);
    box-shadow: inset 0 0 0 50px var(--highlight);
    transition: all .3s ease-in-out;
}
.primary-btn:hover{
    box-shadow: inset 0 0 0 0 var(--highlight);
    color: var(--text-white);
    border: 2px solid var(--text-white);
}
.wrapper{
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.highlight{
    color: var(--highlight);
}
 /* global config end*/
/* header */
.header-section{
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    /* background:linear-gradient(#b90b0b,#000),url(./img/hero-bg.jpg); */
}
.navbar{
    padding: 20px 0;
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px dashed rgba(204, 204, 204,0.6);
    transition: .4s ease-in-out;
}
.sticky{
    padding: 10px 0;
    background: var(--text-white);
    box-shadow: 0 1px 8px  rgba(0, 0, 0,0.7);
    transition: .4s ease-in-out;
    border: none;
}
.navbar.sticky .nav-link, .navbar.sticky .brand-logo{
    color: var(--text-black);
    transition: .3s ease-in-out;
}
.navbar.sticky .nav-active{
    color: var(--highlight);
}
.navbar.sticky .nav-link:hover{
    color: var(--highlight);
}
.brand-logo{
    font-size: 36px;
    font-weight: 700;
    transition: .3s ease-in-out;
    color: var(--text-white);
}
.brand-logo:hover{
    color: var(--text-black);
}
.navbar > .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}
.nav-item:last-child{
    padding-right: 0;
}
.nav-link{
    color: var(--text-white);
    text-transform: capitalize;
    transition: .3s ease-in-out;
    font-weight: 500;
}
.nav-link:hover{
    color: var(--text-black);
}
.nav-active{
    color: var(--text-black);
}
/* togglebar */
.toggle{
    display: none;
    width: 40px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    outline: none;
    padding: 8px;
    position: relative;
    border: 1px solid var(--text-white);
}
.toggle > span{
    display: block;
    user-select: none;
    outline: none;
    left: 50%;
    height: 3px;
    width: 65%;
    background: var(--text-white);
    border-radius: 3px;
    position: absolute;
    transform: translateX(-50%);
}
.toggle > span:nth-child(1){
    top: 7px;
}
.toggle > span:nth-child(2){
    top: 15px;
}
.toggle > span:nth-child(3){
    top: 23px;
}
.navbar.sticky .toggle > span{
    background: #000;
}
.navbar.sticky .toggle{
    border-color: #000;
}
/* togglebar end*/
/* .hero */
.hero-section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.hero-section > .wrapper{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.hero-content > span{
    color: var(--text-white);
    font-weight: 500;
    font-size: 18px;
    display: block;
}
.hero-content > h1{
    color: var(--text-white);
    font-weight: 700;
    font-size: 56px;
    margin: 15px 0;
}
.hero-content > p{
    margin-bottom: 40px;
    color: var(--text-white);
    font-weight: 500;
    font-size: 30px;
}
.hero-content > .primary-btn{
    margin-right: 10px;
}
.hero-content, .hero-img{
    width: 50%;
    flex: 1 0 50%;
}
.hero-img{
    padding-top: 200px;
}
.hero-img img{
    width: 100%;
    display: block;
    align-content: flex-end;
    object-fit: contain;
    object-position: right;
}
/* .hero end */
/* header end */
/* popup contact */
.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    background:rgba(0, 0, 0,0.5);
    z-index: 99999;
    transition: all .3s ease-in-out;
}
.pop-contact{
    padding: 40px;
    width: 600px;
    background:var(--text-white);
    position: relative;
    transform: scale(0);
    transition: all .3s ease-in-out;
}
#pop-name, #pop-email, #pop-sub, #pop-msg{
    width: 100%;
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: inset -3px -3px 7px #ffffff73,
               inset 3px 3px 5px rgba(94, 104, 121,0.288);
               margin-top: 20px;
}
#pop-msg{
    resize: none;
    height: 200px;
}
.pop-contact > .primary-btn{
    outline: none;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 20px;
}
.pop-contact > .primary-btn:hover{
    color: var(--text-white);
    border-color: var(--text-black);
    box-shadow: inset 0 0 0 50px #000;
}
.close-pop{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 0 0 0 15px;
    line-height: 40px;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    transition: .3s ease-in-out;
}
.close-pop:hover{
    background-color: var(--text-red);
}
.show-pop{
    visibility: visible;
    opacity: 1;
}
.popup-box.show-pop .pop-contact{
    transform: scale(1);
    transition: all .3s ease-in-out;
}
/* popup contact end */
/* about */
.about-section{
    padding-top: 100px;
    overflow: hidden;
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-content{
    width: 50%;
    padding-right: 40px;
}
.about-progress{
    width: 50%;
}
.about-content > h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.about-content > p{
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}
.about-content  .primary-btn:hover{
    color: var(--text-black);
    border-color: var(--highlight);
}
.progress-menu{
    width: 100%;
}
.progress-item{
    width: 100%;
    position: relative;
}
.progress-item::before{
    content: '90%';
    position: absolute;
    right: 0;
    top: 0;
}
.progress-item:nth-child(1)::before{
    content: '85%';
}
.progress-item:nth-child(7)::before{
    content: '100%';
}
.progress-item:nth-child(1), .progress-item:nth-child(3), .progress-item:nth-child(5), .progress-item:nth-child(7){
    margin-bottom: 10px;
}
.progress-item:nth-child(2){
    width: 100%;
    background: #DDD;
    height: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.progress-item:nth-child(2)::before{
    content: '';
    width: 85%;
    background: var(--highlight);
    height: 10px;
    left: 0;
    border-radius: 5px;
}
.progress-item:nth-child(4), .progress-item:nth-child(6), .progress-item:nth-child(8){
    width: 100%;
    background: #DDD;
    height: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.progress-item:nth-child(4)::before, .progress-item:nth-child(6)::before, .progress-item:nth-child(8)::before{
    content: '';
    width: 90%;
    background: var(--highlight);
    height: 10px;
    left: 0;
    border-radius: 5px;
}
.progress-item:nth-child(8)::before{
    width: 100%;
}
/* about end*/
/* service */
.service-section{
    padding-top: 100px;
    overflow: hidden;
}
.service-card-block{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
}
.service-card{
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    overflow: hidden;
}
.service-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    border: 1px solid var(--highlight);
    height: 100%;
    width: 50%;
}
.service-icon i{
    transition: .3s ease-in-out;
}
.service-content{
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 100%;
    padding: 40px;
}
.service-content span{
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--highlight);
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .3s ease-in-out;
}
.service-card:hover .service-content span{
    left: 0;
}
.service-card:hover .service-icon i{
    transform: scale(1.15);
}
.service-content h1{
    color: #191919;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}
.service-content p{
    color: #666;
}
/* service end */
/* portfolio */
.portfolio-section{
    padding-top: 100px;
}
.portfolio-section > .wrapper{
    padding-left: 40px;
    padding-right: 40px;
}
.portfolio-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.menu-link{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    padding: 8px 20px;
    color: var(--text-white);
}
.portfolio-menu > .primary-btn:hover{
    color: var(--highlight);
    border-color: var(--highlight);
}
.portfolio-card-block{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    margin-top: 40px;
    grid-gap: 40px;
}
.portfolio-card{
    width: 100%;
    overflow: hidden;
}
.portfolio-card img{
    object-fit: cover;
    width: 100%;
    display: block;
    transform: scale(1.2) translateX(-10px);
    transition: .3s ease-in-out;
}
.portfolio-card:hover img{
    transform: scale(1.2) translateX(10px);
}
.portfolio-card-title-block{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.portfolio-card-title{
    padding: 5px;
    background-color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio-card-title h1{
    font-size: 18px;
    font-weight: 500;
    color: #666;
    padding-left: 10px;
}
.portfolio-btn{
    font-weight: 400;
    font-size: 38px;
    display: block;
    color: var(--text-white);
    height: 50px;
    width: 50px;
    line-height: 46px;
    text-align: center;
    background-color: var(--highlight);
    cursor: pointer;
    transition: .3s ease-in-out;
    border: 2px solid var(--highlight);
}
.portfolio-card:hover .portfolio-btn{
    background-color: transparent;
    color: var(--highlight);
}
.portfolio-active{
    color: var(--highlight);
    border-color: var(--highlight);
    box-shadow: 0 0 0 0;
}
/* portfolio end */
/* responsive */
@media (max-width: 1199.98px) { 
    .wrapper{
        max-width: 992px;
    }
    
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .wrapper{
        max-width: 768px;
    }
    .portfolio-card-block{
        grid-template-columns: repeat(2,1fr);
    }
    .toggle{
        display: block;
    }
    .nav-menu{
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: var(--text-white);
        transform: scaleY(0);
        transform-origin: top center;
        transition: .3s ease-in-out;
    }
    .menu-active{
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }
    .nav-link{
        color: var(--text-black);
        padding: 10px 15px;
        display: block;
    }
    .service-card-block{
        grid-template-columns: repeat(1,1fr);
    }
    .service-icon{
        width: 30%;
    }
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .wrapper{
        max-width: 576px;
    }
    .hero-img{
        display: none;
    }
    .hero-content{
        width: 100%;
        flex-basis: 100%;
    }
    .about-progress, .about-content{
        width: 100%;
        margin-bottom: 20px;
    }
    .service-icon{
        width: 50%;
    }
    .portfolio-section > .wrapper{
        padding-right: 0;
        padding-left: 0;
    }
    .portfolio-card-title h1{
        font-size: 14px;
    }
    .portfolio-btn{
        font-size: 28px;
        height: 35px;
        width: 35px;
        line-height: 31px;
    }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar, .hero-section, .about, .service-card-block, .portfolio-section{
        padding-left: 15px;
        padding-right: 15px;
    }
    .hero-content > h1{
        font-size: 36px;
    }
    .primary-btn{
        font-size: 14px;
    }
    .hero-content > p{
        font-size: 26px;
    }
    .about-content > h1{
        font-size: 24px;
    }
    .service-icon{
        width: 35%;
    }
    .service-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        padding: 20px;
    }
    .service-content h1{
        font-size: 18px;
    }
    .service-content p{
        font-size: 14px;
    }
    .service-icon{
        font-size: 45px;
    }
    .headline-title{
        font-size: 24px;
    }
    .portfolio-card-block{
        grid-template-columns: repeat(1,1fr);
    }
    .menu-link{
        margin-bottom: 15px;
    }
}
/* responsive */